<p class="publicTimelineOption" data-name="{{title}}" value="{{id}}" data-id="{{id}}">
  <span class="publicTimelineOption" data-name="{{title}}" value="{{id}}" data-id="{{id}}"> <strong> {{title}} </strong> </span>
</p>